[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:ph4/arduino-esp32.git
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
